<angular-cologne-header></angular-cologne-header>
<ng-container *ngIf="loading">
  <div
       class="absolute top-0 w-full h-full z-20 bg-gray-900 opacity-70 flex justify-center grow items-center pointer-events-none">
    <div class="w-24 h-24 animate-spin"><img src="assets/loading-spinner.svg"></div>
  </div>
</ng-container>

<div class="flex flex-col min-h-full bg-slate-100 pt-20 relative">
  <div class="container grow h-auto mx-auto flex flex-col">
    <router-outlet></router-outlet>
  </div>
</div>

<div
     class="absolute h-12 bottom-2 right-2 z-50 flex justify-center items-center space-x-2 bg-slate-700 text-white rounded-md">
  <div class="overflow-hidden flex transition-all duration-500 justify-center space-x-1 px-4">
    <label>Loading Time:</label>
    <angular-cologne-stop-watch [config]="{ showReset: true }"></angular-cologne-stop-watch>
  </div>
</div>
