<angular-cologne-header></angular-cologne-header>
<div class="flex flex-col min-h-full bg-slate-100 pt-24">
  <div class="container h-auto mx-auto flex flex-col space-y-4">
    <div class="flex justify-center space-x-1 bg-slate-300 py-2">
      <label>Loading Time:</label>
      <angular-cologne-stop-watch [config]="{ showReset: true }"></angular-cologne-stop-watch>
    </div>
    <div class="flex items-center text-white bg-slate-700 p-4">
      <ul class="flex space-x-8 mx-auto">
        <li>
          <a class="uppercase underline hover:text-green-200" [routerLink]="['resolve']"
             routerLinkActive="text-green-200">Resolver
            Example</a>
        </li>
        <li>
          <a class="uppercase underline hover:text-green-200" [routerLink]="['reactive']"
             routerLinkActive="text-green-200">Reactive
            Example</a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
