:root {
  /* COLORS */
  --color-white: rgba(240, 240, 240, 1);
  --text-color-lighter: hsl(0, 0%, 20%);

  /* COMPONENTS */
  --card-image-background-color: rgba(100, 200, 100, 1);
  --card-image-aspect-ratio: 3/2;
  --card-border-radius: 9px;

  --header-background: hsl(0, 0%, 20%);

  /* SPACINGS  */
  --spacing-xs: 6px;
  --spacing-s: 12px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 48px;
}
