<div class="card-list">
  <ng-container *ngIf="cards; else loadingTemplate">
    <ng-container *ngFor="let card of cards">
      <a [routerLink]="[card['userId']]">
        <angular-cologne-card [title]="card['title']" [content]="card['body']" [imageUrl]="card['imageUrl']">
        </angular-cologne-card>
      </a>
    </ng-container>
  </ng-container>

  <ng-template #loadingTemplate>
    <ng-container *ngFor="let card of placeholderCards">
      <angular-cologne-card-skeleton></angular-cologne-card-skeleton>
    </ng-container>
  </ng-template>

  <router-outlet></router-outlet>
</div>
