<div class="container px-4 space-y-4">
  <h2 class="text-4xl">User Detail Page</h2>
  <article class="border-2 border-slate-400 h-96 p-4">
    <ng-container *ngIf="user$ | async as user; else loading">
      <div class="flex flex-col space-y-8">
        <h1 class="text-4xl capitalize">{{user.firstname}} {{user.lastname}}</h1>
        <p class="">{{user.bio}}</p>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="flex flex-col animate-pulse h-screen space-y-8">
        <div class="w-3/4 h-10 bg-gray-300"></div>
        <div class="flex flex-col space-y-3">
          <div class="w-full h-16 bg-gray-300"></div>
        </div>
      </div>
    </ng-template>
  </article>
</div>
